@{
    ViewData["Title"] = "Home Page";
}
@model List<User>
<a href="/new">Add a user!</a>
<h2>Here are some users!</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date Added</th>
            <th>Last Modified</th>
            <th>Action</th>
            
        </tr>
    </thead>
    <tbody>
    @foreach(var user in ViewBag.Users)
    {
        <tr>
            <td><a asp-action="Show" asp-route-userId="@user.UserId">@user.FirstName</a></td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>@user.CreatedAt</td>
            <td>@user.UpdatedAt</td>
            <td><a href="/delete/@user.UserId">DELETE</a></td>
        </tr>
    }
    </tbody>
</table>